.modal_overlay {
    background: rgba(0,0,0 ,.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
   opacity: 0;
    transition: 0.5s;

}
.modal_overlay.active {
    opacity: 1;
    pointer-events: all;
}
.modal_content {
    padding: 15px;
    border-radius: 6px;
    background: aliceblue;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 170vh;
    height: 80vh;
}

.modal_content.active {
    transform: scale(1);
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.modal_description {
    display: flex;
    padding: 0 10px;
}

.modal_close {
    cursor: pointer;
}