body.theme__light {
  --background--body: #fff;
  --background--button-theme: #000;
  --color-title: #E83B89;
}
body.theme__dark {
  --background--body: #000;
  --color-title: #E83B89;
  --background--button-theme: #fff;
}


