.Title {
  text-align: center;
  width: 50%;
  margin: 20px auto;
  background: white;
  border-radius: 6px;
  h1{
    cursor: default;
    margin: 0;
    font-weight: bold;
    color: var(--color-title);
  }
  span {
    font-weight: 300;
    color: var(--color-title);
  }
}
